PORT=5001
MONGO_URI=mongodb+srv://shivamdewangan310:shivamdewangan310@cluster0.bufkq9c.mongodb.net/?appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
NODE_ENV=development
